<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   
    <link rel="stylesheet"  href="../../static/fontawesome/css/all.css">
    <link rel="stylesheet"  href="../../static/animate/animate.min.css">
    <link href="/static/project.css" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='fa/css/all.min.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   
    <div class="containerr-fluid">
        <div id="banner">
            <div id="overlay">  
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg">
                        
                        <div class="container-fluid  mx-5 g-5">
                           
                            


                          <a class="navbar-brand text-white mx-5" href="/index"> LOGO</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav  mx-5 d-flex" >
                              <a class="nav-link active  text-white mx-2  effect" aria-current="page" href="/index"> Home</a>
                              <a class="nav-link text-white mx-2 effect" href="/aboutus">  About </a>
                              <a class="nav-link text-white mx-2 effect" href="#"> Contact Us</a>
                              <a class="nav-link text-white mx-2 effect" href="#faq">FAQs</a>
                             

                              <a class="nav-link text-white mx-2 effect" href="#ment">category</a>
                              <a class="nav-link text-white mx-2 effect" href="/login/">Login</a>

                              <a class="nav-link text-white mx-2 effect btn btn-outline-info mx-5" href="/signup/">register</a>


                              <!-- <button type="button" class="btn btn-outline-info mx-5">register</button> -->
                            </div>
                          </div>

                          <div class=" d-ld-none d-md-none" style="margin-top:-70px;"> 
                            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"  aria-controls="offcanvasExample"> <i class="fa-solid fa-bars"></i></button>
                                  
                             </div>
                        </div>
                      
                      </nav>
                    </div>
            </div>


            <div class="row">
                <div class="col my-5 mx-5 text-white fs-3">
                    <h1 class="heading1 "> About SwiftTask</h1>
                        <p class=" my-4 text"><i>Experience the convenience of SwiftTask. simplify your
                           busy life by getting your errands done with ease...</i></p>
                       <span> <a href="" class="btn btn-outline-info text-white   ml-5">Register</a> </span>
                       <span> <a href="" class="btn btn-outline-warning  text-white "> Partner With Us </a> </span>
               </div>

               <div class="col-lg ">
                            <div class=" book text-center border" style="background-color: blueviolet;">
                                <h2> Running your errands efficiently</h2>
                                <p  class="my-5 d-block d-sm-block d-md-block d-lg-block">Have a long to-do list? Let Taskers pick up your dry cleaning, 
                                  take packages to the post office, pick up prescriptions, or do your shopping
                                </p>
                                <button class="btn btn-success"> Book Now </button>

                            </div>
               </div>
            </div>

        </div> 
      </div>
    </div>
    <div class="row"> 
<h1 class="text-center my-4 heading2"> <span class="text-info">__</span> About Us<span class="text-info">__</span> </h1>
<div class="col text-center mx-5">
       <div>  <p>Welcome to our Errand Web App! We are a team of dedicated individuals who are passionate about making your life easier by taking care of your errands and tasks. Our app was created with the idea of providing a convenient and efficient way for busy individuals to manage their daily tasks.
           We understand how overwhelming it can be to juggle work, family, and personal responsibilities, which is why we designed our app to simplify your life. Whether you need groceries, dry cleaning, or help with any other errands, we've got you covered.
           Our team is committed to providing exceptional customer service and making your experience with our app as smooth as possible. We pride ourselves on being reliable, trustworthy, and efficient, so you can rest assured that your tasks are in good hands
           We are constantly working to improve our services and add new features to our app. Our goal is to become the go-to app for errands and tasks, and we strive to achieve this by listening to our customers' feedback and meeting their needs
           Thank you for choosing our Errand Web App. We look forward to helping you simplify your life and take care of your errands!
           
           Errand is a mobile app designed to help busy individuals manage their daily tasks and errands more efficiently. With Errand, 
           users can create to-do lists, set reminders, and track their progress on tasks all in one convenient location.

           Our app is designed to save users time and reduce stress by simplifying 
           the process of managing errands and tasks. Whether it's picking up groceries,
            dropping off dry cleaning, or completing work assignments, Errand can help you 
            stay on top of your to-do list and get more done in less time.
           
           We believe that everyone deserves to have a little more free time to enjoy the
            things they love, and Errand is here to make that possible. Try it out today and 
            see how much more you can accomplish with the help of Errand!</p> 
             
           
       </div> 



       </div>

       <div class="row"> 
        <h1 class="text-center my-4 heading2"> <span class="text-info">__</span> How it works<span class="text-info">__</span> </h1>
        <div class="col-sm text-center d-flex justify-content-center flex-wrap">
                     <div class="stuff"> <p><span class="text-info fs-1" > (1)</span>
                      Describe Your Task
                      Tell us what you need done, when and where it works for you. </p></div>
                     <div class="stuff">  <p><span class="text-info fs-1" > (2)</span>
                       Choose Your Tasker
                      Browse trusted Taskers by skills, reviews, and price. Chat with them to confirm details. </p>
                     </div>
                     <div class="stuff"> <p> <span class="text-info fs-1" > (3)</span>
                        Get It Done!
                        Your Tasker arrives and gets the job done. Pay securely and leave a review, all through SwiftTask. <p></p>
                     </div>

              </div>

       </div>

    
  
       <div class="accordion accordion-flush" id="faq" >
        <h1 class="text-center my-4 heading2"> <span class="text-info">__</span> Frequently asked Questions<span class="text-info">__</span> </h1>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <h6>Do i need a phyiscal store before i run errands ?</h6>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">No, but make sure your business is registered. Then, provide an active mobile line, functional email address, and a physical address where our can pick your orders for deliveries.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
             <h6>When are you open ?</h6> 
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">We are open from Mondays to Saturdays between 8 am and 6 pm, including public holidays .</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
             <h6>what kind of errands do you run ?</h6>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> We run any kind of errand of your choice  </div>
          </div>
        </div>
      </div>      




     
   
      <div class="bg-dark">
          <div class="row d-sm-flex">
              <div class="col-md-2">
                  <h3>Company</h3>
                  <a href="./index.html">
                      <p>Home</p>
                  </a>
                  
                  </a>
                  <a href="">
                      <p>Partner With Us</p>
                  </a>
                  <a href="about-us.html">
                      <p>About Us</p>
                  </a>




              </div>
              <div class="col-md-3">
                  <h3>Legal</h3>
                  <a href="./policies.html">
                      <p>Privacy Policy</p>
                  </a>
                  <a href="./terms.html">
                      <p>Terms of Service</p>
                  </a>
              </div>
              <div class="col-md-3">
                  <h3>Help</h3>
                  <a href="./faq.html">
                      <p>FAQ</p>
                  </a>
                  <a href="./contactus.html">
                      <p>Contact us</p>
                  </a>
                  <!-- <a href=""> <p>Feedbacks</p></a> -->
              </div>
              <div class="col-md-3">
                  <h3>Connect With Us</h3>

                  <p> <a href="" style="color:white;"> <img src="./assets/img/fb.svg"
                              alt=""> Facebook</a>
                  </p>
                  <p> <a href="" style="color:white;"> <img src="./assets/img/ig.svg"
                              alt=""> Instagram</a>
                  </p>
                  <p> <a href="" style="color:white;"> <img
                              src="" alt=""> Linkedin</a>
                  </p>
                  <p> <a href="" style="color:white;"> <img
                              src="" alt=""> Twitter</a>
                  </p>
                  \
              </div>
          </div>
              <div class="row">
                <div class="col-md-3">
                    <h3>Rider app</h3>
                    <div class="row-md g-lg-2 d-sm-flex">
                        <a href=""><img src="" alt=""
                                class="download-buttons col-md-6 col-md-3 me-sm-2"></a>
                         <a href="#"><img src="" alt="" class="download-buttons col-md-6 col-md-3"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Vendor app</h3>
                    <div class="row-md d-sm-flex">
                        <a href=""><img
                                src="." alt="" class="download-buttons col-md-6 me-sm-2"></a>
                        <a href=""> <img src=" alt="" class="download-buttons col-md-6"></a>
                    </div>
                </div>
            </div>
      </div>

  


  </div>





  <script src="/static/bootstrap/js/bootstrap.bundle.js"> </script>
</body>



<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasExampleLabel">My Portfolio</h5>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body bg-dark">
  <div>
    <div class="col lie"> 
         <img src="picture/pic.png" class="true">
         
    </div> 
   
   <div class="text-center my-2"> <h4 class="text-white">SwiftTask </h4> </div>
   
   
    <div class="text-center my-3">
      <i class="fa-brands  fa-2x fa-twitter text-info mx-2"></i>
      <i class="fa-brands  fa-2x fa-instagram text-info mx-2"></i>
      <i class="fa-brands fa-2x  fa-facebook text-info mx-2"></i>
      <i class="fa-brands fa-2x  fa-google  text-info mx-2"></i>
    </div>
    
    
    <div>
    <div class="px-3" style="margin-left: 145px;">
      <p>
         
          <a href="/index" class="drip" style="text-decoration: none;">  <i class="fa-solid text-info fa-2x fa-house my-2 look"> </i><span class="text-white"> Home</span> </a> <br>
     </p>  
    

     <p>
        
         <a href="/aboutus" class="drip" style="text-decoration: none;"> <i class="fa-solid text-info fa-2x fa-user my-2 look"> </i>  <span class="text-white"> About</span> </a> <br>
     </p>  
        
      <p>  
       
         <a href="#faq" style="text-decoration: none;">  <i class="fa-thin text-info fa-2x fa-image-portrait my-2 look"></i>  <span class="text-white">FAQs</span> </a> <br>
      </p>

      <p>
        
         <a href="#ment" style="text-decoration: none;"> <i class="fa-regular text-info fa-2x fa-bell-concierge my-2 look"> </i> <span class="text-white">services</span> </a><br> 
       </p>  

       <p>
        
          <a href="#six" class="drip" style="text-decoration: none;"><i class="fa-sharp fa-2x text-info fa-solid fa-address-book my-2 look"></i>  <span class="text-white"> contact</span> </a> <br>
      </p>
      
      <p>
         
          <a href="/login/" class="drip" style="text-decoration: none;"> <i class="fa-solid text-info fa-2x fa-file my-2 look"></i>  <span class="text-white"> Login</span></a> <br>
      </p> 


      <p>
         
        <a href="/signup/" class="drip" style="text-decoration: none;"> <i class="fa-solid text-info fa-2x fa-file my-2 look"></i>  <span class="text-white"> Register</span></a> <br>
    </p> 

    </div>
  </div>
   
</div>
</div>
</html>