
#banner{
    background-image: url('picture/banner4.jpg');
     

}

#overlay{
    background-color: rgba(0,0,45,0.7);
   
}

.stuff{
    background-color: rgb(216, 229, 240);
}

.toy{
    background-color: rgb(216, 229, 240);
}

.roy{
    background-color: rgb(216, 229, 240);
}
.book{
    margin-top:150px;
    margin-left:20px;
    margin-right:20px;
    padding:20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(253, 222, 222);
}



.heading1{
    margin-top:60px;
    font-family:'Arial Black', Helvetica, sans-serif;
    font-size:larger;
    animation-name:bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.effect{
    color:white;
}

.effect:hover{
    color:white;
   
    border:2px solid  blueviolet;
   
}

.text{ 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.heading2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cat{
     background-color: rgb(155, 155, 201);
    height:200px;
    width:40%;
    margin:10px;
    border-radius: 2px 5px 10px;
    box-shadow: 2px 2px 2px 3px grey;
    color:black;
    animation-name:tada;
    animation-duration: 2s;
    /*animation-iteration-count: infinite;*/
    
    
}

.cat:hover{
    background-color: blueviolet;
    color:white;

}

.loot{
    background-color:rgb(245, 241, 241);
 
}

.lead{
    border-radius: 2px solid red;
    height:100px;
    width:100px;
}


.left{
gap:20px;

}

.ned{background-color: rgb(25, 25, 66);}


.flow{
    margin-top:90px;
    margin-left:20px;
    margin-right:20px;
    padding:20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(253, 222, 222);
}

.meet{
    background-color: rgb(211, 211, 228);
}

.def{

    background-color: rgb(251, 253, 255);
}


#ban{
    background-image: url('picture/login.jpeg');
   
}

#over{
    background-color: rgba(0,0,34, 0.5);
    
}


.profilepic{
    width:200px;
    border-radius:50%;
}


.prof{
    
    margin-top:30px;
    margin-left:20px;
    margin-right:20px;
    padding:20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(253, 222, 222);
    
    
}




.beaut{
    
    margin-top:30px;
    margin-left:20px;
    margin-right:20px;
    padding:20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(33, 29, 29);
    
    
}

.profiledisplay1{
    margin:20px;
    margin-right:40px ;
}

.profiledisplay2{
    margin:20px;
}
.profiledisplay3{
    margin:20px;
    margin-right:30px ;
}
.profiledisplay4{
    margin:20px;
    margin-right:20px; 
}


.profiledisplay5{

padding-right:100px ;

}




@media screen and (max-width :600px){
.stuff{
display:flex;
flex-direction:column;
margin:0px;
width:100%;
}

.cat{

width:100%;
}
  

}